# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check_lints:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Check format
      run: cargo fmt -- --check --files-with-diff
    - name: Check clippy lints
      run: cargo clippy --all-targets --verbose

  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Build with default settings
      run: cargo build -v -p manticore
    - name: Build with no features
      run: cargo build -v -p manticore --no-default-features
    - name: Build with all features
      run: cargo build -v -p manticore --all-features
    - name: Build for baremetal RISC-V
      run: cargo build -v -p manticore --no-default-features --target riscv32imc-unknown-none-elf
    - name: Build CLI tool
      run: cargo build -v -p manticore-tool
    - name: Build (but don't run!) fuzz tests
      run: |
        cd fuzz
        cargo install cargo-fuzz
        cargo fuzz build -v

    - name: Build docs
      run: cargo doc --verbose

    - name: Run tests
      run: cargo test --verbose

  miri_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Miri
      run: rustup +nightly-2021-07-27 component add miri
    - name: Run tests under Miri
      run: cargo +nightly-2021-07-27 miri test

  e2e_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run end-to-end tests
      run: e2e/run.sh
